In [1]:
2+2

4

In [1]:
import pandas as pd
pd.set_option('max_rows', 5)

In [2]:
my_dataframe = pd.DataFrame({'cows':[1,2], 'cookies':[20,30]}, index = ['year1','year2'])
my_dataframe

       cows  cookies
year1     1       20
year2     2       30

In [3]:
my_dataframe.to_csv('my_csv_1.csv')

In [2]:
s = pd.Series([1, 2, 3, 4], name='foo',
...               index=pd.Index(['a', 'b', 'c', 'd'], name='idx'))

In [2]:
s

In [4]:
s.reset_index()

  idx  foo
0   a    1
1   b    2
2   c    3
3   d    4

In [29]:
df_2 = pd.DataFrame({'player_id':[1,2,3,4,1,2,3,4], 'status':['win','win','win','los','los','tie','tie','tie']})
df_2.iloc[1]

player_id      2
status       win
Name: 1, dtype: object

In [32]:
df_2.assign(n=0).groupby('player_id')

In [ ]:
(chess_games
    .assign(n = 0)
    .groupby(['white_id','victory_status'])
    .n
    .apply(len)
    .reset_index()
)